body {
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    background: url("/images/background.jpg") fixed;
    background-size: cover;
}

.search-box {
    margin-top: 70px;
}

.search-holder {
    max-width: 870px;
    padding-left: 15px;
    padding-right: 15px;
}

.text-fade {
    color: #eee;
}

h1 {
    max-width: 500px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    font-size: 67px;
    font-weight: 700;
}

h2 {
    max-width: 500px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 70px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    font-size: 47px;
}
@media (min-width: 768px) {
    .form-horizontal .control-label-lg {
        text-align: right;
        margin-bottom: 0;
        color: #fff;
        padding-top: 12px;
        font-size: 17px;
    }
}